#banner {
  height: 160px;
  background: #0e3c84;
}
#banner > div {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#banner .prev,
#banner .next,
#banner .control,
#banner .close {
  position: absolute;
}
#banner .prev {
  left: 0;
  top: 42px;
}
#banner .next {
  right: 0;
  top: 42px;
}
#banner .control {
  bottom: 11px;
  left: 0;
  font-size: 0px;
}
#banner .control > a {
  margin-right: 15px;
}
#banner .close {
  bottom: 4px;
  right: 0;
}
#banner .close label {
  font-size: 11px;
  color: #fff;
  padding: 0 22px 0 0;
}
#header {
  height: 100px;
  border-bottom: 1px solid #c5c5c5;
  box-sizing: border-box;
}
#header > div {
  width: 1200px;
  margin: 0 auto;
}
#header > div > * {
  float: left;
}
#header h1 {
  padding: 0 20px 0 0;
}
#header #lnb > li {
  float: left;
  padding: 0 16px;
}
#header #lnb > li > a {
  display: block;
  height: 99px;
  line-height: 99px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
#header #lnb > li > a:hover {
  height: 95px;
  background: url(../신대구부산고속도로-연습/images/bg_lnb.gif) no-repeat center 87px;
  border-bottom: 4px solid #1764dc;
  color: #3c91f3;
}
#header p {
  float: left;
  display: block;
  height: 99px;
  line-height: 99px;
  font-size: 22px;
  font-weight: bold;
  color: #0e3c84;
}
#header p span {
  color: #1764dc;
}
#header div > div {
  float: right;
}
#header div > div > div {
  float: left;
  padding: 25px 0 0 11px;
  font-size: 0;
}
#header .btn_pop {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 75px;
  height: 40px;
  background: url(./images/bu_arrow_down.gif) no-repeat 55px center #2cc06b;
  font-size: 13px;
  color: #fff;
  line-height: 40px;
  text-indent: 9px;
}ㅡ, 
